
.dateRangePicker_button {
    float:left;
    margin: 30px 2px 2px 2px;
    cursor: pointer;
    font-size: 1em;
}

.dateRangePicker_submit {
  float:right;
  margin: 30px 2px 2px 2px;
  cursor: pointer;
}
